<%= render 'shared/page_title', title: "All Reviews" %>

<% @reviews.each do |review| %>
  <div class="row">
  
    <div class="col-md-2">
      <section class="review_info center">
        <%= %>
        <h5>Movie Title: <%= review.movie.moviename %></h5>
      </section>
    </div>
    
    <div class="col-lg-8 well">
      <h4><%= link_to review.description, review_path(review) %></h4>
      <p><%= review.author %></p>
      <p>
        <span class='quiet'><small> <%= time_ago_in_words(review.created_at) %> ago</small></span>
      </p>
      <p>
    </div>
  
  </div>
<% end %>